nav{
    display: flex;
    justify-content: center;
}

header{
    margin: 0;
    padding: 0;
    background-color: #4584b7;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    font-size: xx-large;
    padding: 20px;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;  
    font-family: Arial, Helvetica, sans-serif;
}

.Titel{
    background-color: #5696CB;
    padding-bottom: 10px;
    font-size: 60px;
    text-shadow: 1px 4px grey;
    text-align: center;
    color: white;
}

.Header{
    margin: auto;
    width: 70%;
    height: 1000px;
    padding-top: 2%;
    background-color: whitesmoke;
    font-size: 30px;
    text-align: left;
    text-align: center;
}
.IntroText{
    color: black;
    font-size: 35px;
}

/*vv Reaction Speed vv*/

#app {
    display: flex;
    margin-top: 2%;
    width: 100%;
    height: 600px;
    font-family: "Open Sans", sans-serif;
    font-weight: bold;
  }
  
  .click-area {
    flex-grow: 1;
  
    display: flex;
    align-items: center;
  
    background: #950000;
    cursor: pointer;
  }
  
  .display-text {
    padding: 24px;
    width: 100%;
    text-align: center;
    font-size: 24px;
    color: #ffffff;
  }
  
  .recent-scores {
    display: flex;
    flex-direction: column;
    width: 125px;
    flex-shrink: 0;
  }
  
  .score {
    flex-grow: 1;
  
    display: flex;
    align-items: center;
    justify-content: center;
  
    padding: 16px;
  }
  
  .score:nth-child(odd) {
    background: #eeeeee;
  }

/*^^ Reaction Speed ^^*/

footer{
    padding-top: 5%;
    background-color: #716868;
    height: 500px;
}

.FooterText{
    color: white;
    font-size: 20px;
    text-align: center;
}

a:link{
    color: white;
}

a:hover{
    color: red;
}
