nav{
    display: flex;
    justify-content: center;
}

header{
    margin: 0;
    padding: 0;
    background-color: #4584b7;
    height: 80px;
    font-family: Arial, Helvetica, sans-serif;
}

p{
    padding: 0;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

a{
    font-size: xx-large;
    padding: 20px;
    color: white;
}

body{
    margin: 0;
    padding: 0;
    background-color: lightgrey;  
    font-family: Arial, Helvetica, sans-serif;
}

.Titel{
    background-color: #5696CB;
    padding-bottom: 10px;
    font-size: 60px;
    text-shadow: 1px 4px grey;
    text-align: center;
    color: white;
}

.Introduktion{
    margin: auto;
    width: 70%;
    height: 1000px;
    padding-top: 2%;
    background-color: whitesmoke;
    font-size: 30px;
    text-align: left;
    text-align: center;
}
.IntroText{
    color: black;
}
/*vv Typing Test vv*/
.Stats{
    padding-top: 5%;
    display: flex;
    justify-content: center;
}

.TimeText, .AccuracyText{
    display: flex;
    flex-direction: column;
    text-transform: uppercase;
}

.Time, .Accuracy{
    background-color: #5696CB;
    border: 4px solid black;
    border-radius: 5%;
    height: 70px;
    width: 200px;
    color: white;
    text-shadow: 1px 2px grey;
}

.Time{
    margin-right: 3%;
}

.Accuracy{
    margin-left: 3%;
}

.Display{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 80%;
    height: auto;
    border: 4px solid black;
    background-color: #ebebf2;
    margin-left: 10%;
    margin-right: 10%;
}

.DisplayText{
    color: black;
    padding-left: 2%;
    padding-right: 2%;
}

.Input{
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 1%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60%;
    height: auto;
    border: 4px solid black;
    background-color: #dddddd;
    margin-left: 20%;
    margin-right: 20%;
}

.InputText{
    color: black;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 25px;
}

/*^^ Typing Test ^^*/

/*vv Reaction Speed vv*/

#ClickBox{
    background-color: red;
    margin-top: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 420px;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}
.ResultBoxes{
    display: flex;
}

.ResultBox1,.ResultBox2,.ResultBox3,.ResultBox4,.ResultBox5{
    background-color: lightgoldenrodyellow;
    padding-top: 2%;
    padding-bottom: 2%;
    margin-top: 2%;
    display: flex;
    width: 20%;
    justify-content: center;
    align-items: center;
    height: 50px;
    border: 4px solid black;
}


/*^^ Reaction Speed ^^*/

footer{
    padding-top: 5%;
    background-color: #716868;
    height: 500px;
}

.FooterText{
    color: white;
    font-size: 20px;
    text-align: center;
}

a:link{
    color: white;
}

a:hover{
    color: red;
}
